.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 20%;
}
.page-not-found-title {
    font-size: 7rem;
}
.page-not-found-text {
    font-size: 1.3rem;
}