tbody {
    font-size: 1.3rem;
}
.cart-action-button {
    font-size: 1.5rem;
    transition: .5s all;
    color: rgb(152,154,158);
}
.cart-action-button:hover {
    color: rgb(0, 0, 0);
}
.cart-total-price {
    float: right;
    font-size: 2rem;
}