button:focus {
    outline: none;
}
button {
    border: none;
    background: none;
}
ul{
    list-style: none;
    padding: 0;
}
input:focus {
    outline: none;
}
.main-page-content {
        padding-top: 5%;
}
.wanted-page {
    padding-top: 5%;
}
.cart-page {
    padding-top: 8%;
}