.store-logo {
    height: 4rem;
    background-color: rgba(36, 37, 42, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-logo > a {
    color: rgba(255, 255, 255, 1);
    font-size:2rem;
}
.store-logo > a:hover {
    text-decoration: none;
}
.naw-bar {
    height: 4rem;
    background: rgba(55, 60, 66, 1);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 90;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    height: 100%;
    align-items: center;
}
.nav-menu > a {
    transition: .5s all;
    color: rgb(152,154,158);
    padding: 0 1rem;
    border-right: 1px solid rgb(152,154,158);
}
.nav-menu > a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.nav-menu :last-child {
    border:none;
}
.sign-out {
    transition: .5s all;
    color: rgb(152,154,158);
    padding-left: 1rem;
}
.sign-out:hover {
    color: rgba(255, 255, 255, 1);
}