.product-item {
    margin: 7% auto;
    display: flex;
}
.product-content {
    padding: 0 4rem;
}
.product-content-li {
    padding-top: 1rem;
}
.product-content-ul {
    padding-right: 13rem;
}
.item-buttons.description-page {
    justify-content: space-around;
}
.description-page > .vertical-line {
    border-left:1px solid;
    margin: 0;
}